@{
    ViewBag.Title = "Home Page";
}
<header style="background-color:#f8f8f8">
    <h3>Introduction</h3>
    <p style="margin-top:3%"><font>Welcome to the Contoso Comics analytics web app.</font></p>
    <p><font>Here you have access to the latest sales and marketing information about our e-commerce store.</font></p>
    <p><font>This demo uses Power BI Embedded delivered through an Azure web site which enables an interactive and intuitive data-based experience across any device.</font></p>
    <p>
        <font>
            Use the navigation menu to browse across information which help you to decide on which campaign you will
            execute to turn things around since your sales are 10% down MoM.
        </font>
    </p>
    <p><font>The goal of this demo is to choose the best campaign to increase Web Referrals in the three worst performing regions with a campaign budget NTE $75,000. The superhero can be anyone of the identified heroes.</font></p>
    <p><font>For this we recommend you : </font></p>
    <ol class="a" style="color: #737373;">
        <li>Review the summary dashboard.</li>
        <li>Click on any visual to see the store financials and explore the various data points available to you.</li>
        <li>
            Go to the campaign tab using the menu and choose the campaign that you think will be the most succesful
            based on the financials.
        </li>
        <li>Review the success of your campaign in the summary page.</li>
    </ol>

</header>
