@{
    ViewBag.Title = "Contoso Comic Store";
}
<!-- ========== MAIN CONTENT ========== -->
<main id="content" role="main">
    <!-- Section -->
    <section class="space-top-2 space-bottom-1 position-relative bg-img-hero-center gradient-y-overlay-lg-white" style="background-image: url(~/assets/img/abstract-shapes-12.svg)">
        <div class="container pt-11 pt-lg-4">
            <div class="row justify-content-lg-between align-items-center mb-7">
                <div class="col-lg-4 mb-5 mb-lg-0 order-lg-2">
                    <div class="pl-lg-5"><img class="img-fluid w-md-50 w-lg-100" src="~/assets/svg-2/data-report.svg" alt="Image Description"></div>
                </div>

                <div class="col-lg-8 order-lg-1">
                    <!-- Info -->
                    <h1 class="h2 mb-3">Welcome to the Contoso Comic Store Challenge</h1>

                    <p class="lead">Here you have access to the latest sales and marketing information<br class="d-none d-xl-block"> about our e-commerce store.</p>
                    <p><font>This demo uses Power BI Embedded delivered through an Azure web site which enables an interactive and intuitive data-based experience across any device.</font></p>
                    <p>
                        <font>
                            Use the navigation menu to browse across information which help you to decide on which campaign you will
                            execute to turn things around since your sales are 10% down MoM.
                        </font>
                    </p>
                    <p><font>The goal of this demo is to choose the best campaign to increase Web Referrals in the three worst performing regions with a campaign budget NTE $75,000. The superhero can be anyone of the identified heroes.</font></p>
                    <p><font>For this we recommend you : </font></p>
                    <ol class="a" style="color: #737373;">
                        <li>Review the summary dashboard.</li>
                        <li>Click on any visual to see the store financials and explore the various data points available to you.</li>
                        <li>Explore channel revenue using the new decomposition tree in the insights tab</li>
                        <li>
                            Go to the campaign tab using the menu and choose the campaign that you think will be the most succesful
                            based on the financials.
                        </li>
                        <li>Review the success of your campaign in the summary page.</li>
                    </ol>
                    <!-- End Info -->
                </div>
            </div>
        </div>
    </section>
    <!-- End Section -->
    <!-- Section -->
    <section class="space-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mb-3 mb-lg-0">
                    <!-- Card -->
                    <a class="card h-100 text-reset" href="/Financials/Index">
                        <div class="w-sm-75 p-4">
                            <h3 class="h4">Financials</h3>
                            The screen shows attractive KPI's and interactive visuals to enhance financial business intelligence.
                        </div>

                        <div class="position-absolute bottom-0 right-0 w-sm-25 max-w-27rem">
                            <img class="img-fluid" src="~/assets/svg-2/growing-business.svg" alt="Image Description">
                        </div>
                    </a>
                    <!-- End Card -->
                </div>

                <div class="col-lg-6">
                    <!-- Card -->
                    <a class="card h-100 text-reset" href="/Campaigns/Index">
                        <div class="w-sm-75 p-4">
                            <h3 class="h4">Campaigns</h3>
                            The screen where you can choose which campaign to execute based on the Power BI Embedded interactive visuals available to you.
                        </div>

                        <div class="position-absolute bottom-0 right-0 w-sm-25 max-w-27rem">
                            <img class="img-fluid" src="~/assets/svg-2/events.svg" alt="Image Description">
                        </div>
                    </a>
                    <!-- End Card -->
                </div>
            </div>
        </div>
    </section>
    <!-- End Section -->
</main>
<!-- ========== END MAIN CONTENT ========== -->