@media only screen and (min-width : 1800px) and (max-width : 1920px){
    #modelHeader{
        margin-top:14% !important;
    }
}

@media only screen and (min-width : 1680px) and (max-width : 1799px) {
    #modelHeader {
        margin-top: 14% !important;
    }
}

@media only screen and (min-width : 1600px) and (max-width : 1679px) {
    #modelHeader {
        margin-top: 15% !important;
    }
}
